Django==5.0.4
dj-database-url==3.1.2
django-cors-headers==4.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
psycopg[binary]
python-decouple==3.8
python-dotenv
whitenoise
gunicorn
dj-database-url 